 
    .pencil {
    overflow: hidden;
    color: #38d250;
}
.pencil li {
    list-style: none;
    
}
.pencil li:hover {
  color: #f93c3c;
}
.pen {

border: none;
border-bottom: 2px solid #04805d;
padding: 24px;

}
.orange {

overflow: hidden;
border: 1px solid #47a209;
text-align: center;
background-color: #62a376;
border-radius: 48px;
padding-top: 59px;
padding-bottom: 59px;
box-shadow: 0px 2px 115px 4px rgba(63,87,76,1);

}
.apple {

overflow: hidden;
text-align: center;
width: 64%;
margin: auto;

}
.win {

background-color: white;
padding-top: 60px;
padding-bottom: 60px;
width: 80%;
margin: auto;
border-radius: 11px;

}
  

}
  </style>